/*@font-face {*/
/*  font-family: "youtube-sans";*/
/*  src: url('/fonts/YouTubeSansMedium.otf') format('truetype');*/
/*}*/
/**/
/*@font-face {*/
/*  font-family: 'roboto-bold';*/
/*  src: url('/fonts/Roboto-Bold.ttf') format('truetype');*/
/*}*/
/**/
/*@font-face {*/
/*  font-family: 'roboto';*/
/*  src: url('/fonts/Roboto-Regular.ttf') format('truetype');*/
/*}*/
* {
  box-sizing: border-box;
  font-family: 'roboto';
}

body {
  margin: 0;
  padding-top: 8.125rem; /* 130px */
  padding-left: 6.25rem; /* 100px */
  background-color: hsl(0, 0%, 98%);
}



@media (max-width: 599px) {
  body{
  padding-left: 0;
  padding-top: 5rem;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  body{
  padding-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {
}
