/*@font-face {*/
/*  font-family: "youtube-sans";*/
/*  src: url('/fonts/YouTubeSansMedium.otf') format('truetype');*/
/*}*/
/**/
/*@font-face {*/
/*  font-family: 'roboto-bold';*/
/*  src: url('/fonts/Roboto-Bold.ttf') format('truetype');*/
/*}*/
/**/
/*@font-face {*/
/*  font-family: 'roboto';*/
/*  src: url('/fonts/Roboto-Regular.ttf') format('truetype');*/
/*}*/

* {
  box-sizing: border-box;
  font-family: 'roboto';
}

body {
  margin: 0;
  padding-top: 130px;
  padding-left: 100px;
  background-color: hsl(0, 0%, 98%);
}
