@font-face {
  font-family: "youtube-sans";
  src: url('/fonts/YouTubeSansMedium.otf');
}

@font-face {
  font-family: 'roboto-bold';
  src: url(/)
}

@font-face {
  font-family: 'roboto';
  src: url(/fonts/Roboto-Regular.ttf)
}


body {
  font-family: 'youtube-sans';
  margin: 0;
}