.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  margin-bottom: 24px;
  background-color: white;
  z-index: 5;
}

.left-section {
  display: flex;
  width: 200px;
  margin-left: 30px;
}

.left-section img {
  height: 24px;
  padding: 0 10px 0 0;
  cursor: pointer;
}


.middle-section {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex: 0 1 500px;
  margin: 0 30px 0 20px;
  vertical-align: middle;
  height: 40px;
}

#search-bar {
  box-sizing: border-box;
  border: 1px #ccc solid;
  border-radius: 20px 0 0 20px;
  flex: 10;
  height: 100%;
  padding-left: 24px;
  font-size: 16px;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.137);
}
#search-bar:focus{
  border: 1px #ccc solid;
  outline: none;
}

.middle-section button:hover {
  background-color: #F3F3F3;
}

.middle-section button {
  box-sizing: border-box;
  height: fit-content;
  border: 1px #ccc solid;
  height: 100%;
}

.middle-section img {
  height: 24px;
  width: 24px;
}

#search-icon {
  border-radius: 0 24px 24px 0;
  padding: 0 10px 0 20px;
  margin-right: 20px;
}

#voice-search-icon {
  border-radius: 50%;
  border: 0px;
  padding: 0;
  height: 40px;
  width: 40px;
}

.middle-section button{
  position:relative;
  z-index: 1;
  cursor: pointer;
}
.middle-section .tooltip{
  right: -10px;
  bottom: -30px;
  text-wrap: nowrap;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 4px;
  position: absolute;
  background-color: rgb(224, 224, 224);
  opacity: 0;
}
.middle-section button:hover{
  .tooltip{
    opacity: 1;
  }
}

.right-section {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 250px;
  height: 56px;
  padding: 30px;
}

.right-section img {
  width: 24px;
  height: 24px;
  margin-left: 25px;
  cursor: pointer;
}


.right-section .notification-container {
  position: relative;
}

.right-section .notification-counter {
  position: absolute;
  top: 0;
  right: -5px;
  background-color: rgb(167, 0, 0);
  color: white;
  padding: 1px 3px;
  font-size: 12px;
  line-height: 12px;
  border-radius: 6px;
}


#current-user{
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.notification-container,
.upload-icon-container,
.apps-icon-container,
.current-user-icon-container{
  position: relative;
}

.notification-container .tooltip,
.upload-icon-container .tooltip,
.apps-icon-container .tooltip,
.current-user-icon-container .tooltip{
  right: -10px;
  bottom: -30px;
  text-wrap: nowrap;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 4px;
  position: absolute;
  background-color: rgb(224, 224, 224);
  opacity: 0;
}


.notification-container:hover,
.upload-icon-container:hover,
.apps-icon-container:hover,
.current-user-icon-container:hover{
  .tooltip{
    opacity: 1;
  }
}



@media (max-width: 599px) {
}

@media (min-width: 600px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {
}