.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
}

.left-section {
  background-color: aqua;
  width: 160px;
}

.middle-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blueviolet;
  flex: 0 1 500px;
  margin: 0 30px 0 20px;
}

.right-section {
  background-color: cyan;
  width: 250px;
}

.search-bar{
  padding: 0 4px 0 16px;
}