.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  margin-bottom: 24px;
  background-color: white;
  z-index: 2;
}

.left-section {
  display: flex;
  width: 200px;
  margin-left: 30px;
}

.left-section img {
  height: 24px;
  padding: 0 10px 0 0;
}

.middle-section {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex: 0 1 500px;
  margin: 0 30px 0 20px;
  vertical-align: middle;
  height: 40px;
}

#search-bar {
  box-sizing: border-box;
  border: 1px #ccc solid;
  border-radius: 20px 0 0 20px;
  flex: 10;
  height: 100%;
}

.middle-section button {
  box-sizing: border-box;
  height: fit-content;
  border: 1px #ccc solid;
  height: 100%;
}

.middle-section img {
  height:24px ;
  width: 24px;
}

#search-icon {
  border-radius: 0 24px 24px 0;
  padding: 0 10px 0 20px;
  margin-right: 20px;
}

#voice-search-icon {
  border-radius:50% ;
  border: 0px;
  padding: 0;
  height: 40px;
  width: 40px;
}

.right-section {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 250px;
  height: 56px;
  padding: 30px;
}

.right-section img {
  width: 24px;
  height: 24px;
  margin-left: 16px;
}
.right-section .notification-container{
  position: relative;
}
.right-section .notification-counter{
  position: absolute;
  top:0;
  right: -5px;
  background-color: red;
  color:white;
  padding: 1px 3px;
  font-size: 12px;
  line-height: 12px;
  border-radius: 6px;
}

#profile-image-header {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}