.sidebar {
  position: fixed;
  display: flex;
  top: 80px;
  left:0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100px;
}

.sidebar-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.sidebar-element:hover {
  background-color: #F3F3F3;
}

.sidebar img {
  width: 28px;
  height: 28px;
  margin-bottom: 4px;
}

.sidebar div {
  font-size: 12px;
  margin: 0 0 15px 0;
  text-wrap: wrap;
}



@media (max-width: 599px) {
}

@media (min-width: 600px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {
}