.suggestions{
  width:100%;
  padding: 10px;
  background-color: white;
  position: fixed;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  top:50px;
  left: 100px;
  z-index: 2;
  scrollbar-width:none;
  scroll-behavior: smooth;
}
.suggestions button{
  background-color: #e8e8e8;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
  line-height: 32px;
  padding: 0 12px;
  margin:12px 12px 12px 0;
  width: max-content;
  color: #0F0F0F;
  border-radius: 5px;
  border: none;
}
.videos-grid {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  padding: 20px;
}


.video-preview {
  flex: 0 1 330px;
  margin: 0 15px 15px 0;
  /* vertical-align: top; */
}
.thumbnail-div{
  position: relative;
}
.video-time{
  position: absolute;
  font-size: 14px;
  font-weight: 500px;
  bottom: 13px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.56);
  color: white;
  padding: 0 4px;
  border-radius: 3px;
  border-width: 0;
  text-align: center;
  display: flex;
  align-items: center;
}
.video-time img{
  width: 14px;
  height: 14px;
  filter: invert(1) sepia(1) saturate(0) hue-rotate(180deg); /* Change to white */

}
.thumbnail {
  width: 100%;
  border-radius: 9px;
}

.video-details-grid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 40px 1fr;
}

.channel-picture {
  width: 36px;
  vertical-align: top;
  margin-right: 4px;
}

.video-info {
  width: 250px;
  vertical-align: top;
}

.profile-image {
  width: 100%;
  border-radius: 50%;
}

.video-title {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.video-author {
  margin: 0;
  font-size: 14px;
  color: #606060;
  margin-top: 5px;
}

.video-stats {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #606060;
}
