.videos-grid {
  background-color: lightgreen;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem ;
}

.video-preview {
  width: 100%;
  cursor: pointer;
  padding: .5rem ;
}

.thumbnail-div {
  position: relative;
}

.video-time {
  position: absolute;
  font-size: 0.875rem; /* 14px */
  font-weight: 500;
  bottom: 0.8125rem; /* 13px */
  right: 1.25rem; /* 20px */
  background-color: rgba(0, 0, 0, 0.56);
  color: white;
  padding: 0 0.25rem; /* 4px */
  border-radius: 0.1875rem; /* 3px */
  border-width: 0;
  text-align: center;
  display: flex;
  align-items: center;
}

.video-time img {
  width: 0.875rem; /* 14px */
  height: 0.875rem; /* 14px */
  filter: invert(1) sepia(1) saturate(0) hue-rotate(180deg);
}

.thumbnail {
  width: 100%;
  border-radius: 0.5625rem; /* 9px */
}

.video-details-grid {
  margin-top: 0.625rem; /* 10px */
  display: grid;
  grid-template-columns: 2.5rem 1fr; /* 40px */
}

.channel-picture {
  width: 2.25rem; /* 36px */
  vertical-align: top;
  margin-right: 0.25rem; /* 4px */
}

.video-info {
  vertical-align: top;
}

.profile-image {
  width: 100%;
  border-radius: 50%;
}

.video-title {
  margin: 0;
  font-size: 1rem; /* 16px */
  font-weight: 500;
  text-align: start;
}

.video-author {
  margin: 0;
  font-size: 0.875rem; /* 14px */
  color: #606060;
  margin-top: 0.3125rem; /* 5px */
}

.video-stats {
  margin: 0;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  color: #606060;
}

@media (max-width: 599px) {
  .videos-grid{
    grid-template-columns: 1fr;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .videos-grid{
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .videos-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .videos-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
